[submodule "reference-codebases/libtorrent"]
	path = reference-codebases/libtorrent
	url = https://github.com/arvidn/libtorrent.git
[submodule "reference-codebases/libtorrent-rakshasa"]
	path = reference-codebases/libtorrent-rakshasa
	url = https://github.com/rakshasa/libtorrent.git
[submodule "reference-codebases/qbittorrent"]
	path = reference-codebases/qbittorrent
	url = https://github.com/qbittorrent/qBittorrent.git
[submodule "reference-codebases/rtorrent"]
	path = reference-codebases/rtorrent
	url = https://github.com/rakshasa/rtorrent.git
[submodule "reference-codebases/vortex"]
	path = reference-codebases/vortex
	url = https://github.com/Nehliin/vortex.git
[submodule "reference-codebases/qui"]
	path = reference-codebases/qui
	url = https://github.com/autobrr/qui.git
[submodule "vendor/boringssl"]
	path = vendor/boringssl
	url = https://github.com/google/boringssl.git
[submodule "vendor/c-ares"]
	path = vendor/c-ares
	url = https://github.com/c-ares/c-ares.git
[submodule "reference-codebases/tigerbeetle"]
	path = reference-codebases/tigerbeetle
	url = https://github.com/tigerbeetle/tigerbeetle.git
[submodule "reference-codebases/libxev"]
	path = reference-codebases/libxev
	url = https://github.com/mitchellh/libxev.git
